# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [26]:
# import pandas

import pandas as pd

# create your data variabe using .read_csv 

data_file = pd.read_csv("launchcode/../IMDB-Movie-Data.csv")

# create your data_indexed variable here

data_indexed = data_file.set_index('Rank')

#print(data_file.head(10))
print(data_indexed)

                        Title                     Genre  \
Rank
1     Guardians of the Galaxy   Action,Adventure,Sci-Fi
2                  Prometheus  Adventure,Mystery,Sci-Fi
3                       Split           Horror,Thriller
4                        Sing   Animation,Comedy,Family
5               Suicide Squad  Action,Adventure,Fantasy
...                       ...                       ...
996      Secret in Their Eyes       Crime,Drama,Mystery
997           Hostel: Part II                    Horror
998    Step Up 2: The Streets       Drama,Music,Romance
999              Search Party          Adventure,Comedy
1000               Nine Lives     Comedy,Family,Fantasy

                                            Description              Director  \
Rank
1     A group of intergalactic criminals are forced ...            James Gunn
2     Following clues to the origin of mankind, a te...          Ridley Scott
3     Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
4     In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
5     A secret government agency recruits some of th...            David Ayer
...                                                 ...                   ...
996   A tight-knit team of rising investigators, alo...             Billy Ray
997   Three American college students studying abroa...              Eli Roth
998   Romantic sparks occur between two dance studen...            Jon M. Chu
999   A pair of friends embark on a mission to reuni...        Scot Armstrong
1000  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                 Actors  Year  \
Rank
1     Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
2     Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
3     James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
4     Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
5     Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
...                                                 ...   ...
996   Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
997   Lauren German, Heather Matarazzo, Bijou Philli...  2007
998   Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
999   Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
1000  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

      Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
Rank
1                   121     8.1  757074              333.13       76.0
2                   124     7.0  485820              126.46       65.0
3                   117     7.3  157606              138.12       62.0
4                   108     7.2   60545              270.32       59.0
5                   123     6.2  393727              325.02       40.0
...                 ...     ...     ...                 ...        ...
996                 111     6.2   27585                 NaN       45.0
997                  94     5.5   73152               17.54       46.0
998                  98     6.2   70699               58.01       50.0
999                  93     5.6    4881                 NaN       22.0
1000                 87     5.3   12435               19.64       11.0

[1000 rows x 11 columns]

In [27]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [28]:
# Read data with specified explicit index



#print(data_indexed)

print(data_indexed)

                        Title                     Genre  \
Rank
1     Guardians of the Galaxy   Action,Adventure,Sci-Fi
2                  Prometheus  Adventure,Mystery,Sci-Fi
3                       Split           Horror,Thriller
4                        Sing   Animation,Comedy,Family
5               Suicide Squad  Action,Adventure,Fantasy
...                       ...                       ...
996      Secret in Their Eyes       Crime,Drama,Mystery
997           Hostel: Part II                    Horror
998    Step Up 2: The Streets       Drama,Music,Romance
999              Search Party          Adventure,Comedy
1000               Nine Lives     Comedy,Family,Fantasy

                                            Description              Director  \
Rank
1     A group of intergalactic criminals are forced ...            James Gunn
2     Following clues to the origin of mankind, a te...          Ridley Scott
3     Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
4     In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
5     A secret government agency recruits some of th...            David Ayer
...                                                 ...                   ...
996   A tight-knit team of rising investigators, alo...             Billy Ray
997   Three American college students studying abroa...              Eli Roth
998   Romantic sparks occur between two dance studen...            Jon M. Chu
999   A pair of friends embark on a mission to reuni...        Scot Armstrong
1000  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                 Actors  Year  \
Rank
1     Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
2     Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
3     James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
4     Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
5     Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
...                                                 ...   ...
996   Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
997   Lauren German, Heather Matarazzo, Bijou Philli...  2007
998   Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
999   Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
1000  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

      Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
Rank
1                   121     8.1  757074              333.13       76.0
2                   124     7.0  485820              126.46       65.0
3                   117     7.3  157606              138.12       62.0
4                   108     7.2   60545              270.32       59.0
5                   123     6.2  393727              325.02       40.0
...                 ...     ...     ...                 ...        ...
996                 111     6.2   27585                 NaN       45.0
997                  94     5.5   73152               17.54       46.0
998                  98     6.2   70699               58.01       50.0
999                  93     5.6    4881                 NaN       22.0
1000                 87     5.3   12435               19.64       11.0

[1000 rows x 11 columns]

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [29]:
# Use the head() function to view the first 5 rows of the data set
print(data_indexed.head(5))
#return the top 5 rows from the new index variable that I created

                        Title                     Genre  \
Rank
1     Guardians of the Galaxy   Action,Adventure,Sci-Fi
2                  Prometheus  Adventure,Mystery,Sci-Fi
3                       Split           Horror,Thriller
4                        Sing   Animation,Comedy,Family
5               Suicide Squad  Action,Adventure,Fantasy

                                            Description              Director  \
Rank
1     A group of intergalactic criminals are forced ...            James Gunn
2     Following clues to the origin of mankind, a te...          Ridley Scott
3     Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
4     In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
5     A secret government agency recruits some of th...            David Ayer

                                                 Actors  Year  \
Rank
1     Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
2     Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
3     James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
4     Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
5     Will Smith, Jared Leto, Margot Robbie, Viola D...  2016

      Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
Rank
1                   121     8.1  757074              333.13       76.0
2                   124     7.0  485820              126.46       65.0
3                   117     7.3  157606              138.12       62.0
4                   108     7.2   60545              270.32       59.0
5                   123     6.2  393727              325.02       40.0

In [30]:
# Use the tail() function to view the last 5 rows of the data set

print(data_indexed.tail(5))
#return the bottom 5 rows from the new index variable that I created

                       Title                  Genre  \
Rank
996     Secret in Their Eyes    Crime,Drama,Mystery
997          Hostel: Part II                 Horror
998   Step Up 2: The Streets    Drama,Music,Romance
999             Search Party       Adventure,Comedy
1000              Nine Lives  Comedy,Family,Fantasy

                                            Description          Director  \
Rank
996   A tight-knit team of rising investigators, alo...         Billy Ray
997   Three American college students studying abroa...          Eli Roth
998   Romantic sparks occur between two dance studen...        Jon M. Chu
999   A pair of friends embark on a mission to reuni...    Scot Armstrong
1000  A stuffy businessman finds himself trapped ins...  Barry Sonnenfeld

                                                 Actors  Year  \
Rank
996   Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
997   Lauren German, Heather Matarazzo, Bijou Philli...  2007
998   Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
999   Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
1000  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

      Runtime (Minutes)  Rating  Votes  Revenue (Millions)  Metascore
Rank
996                 111     6.2  27585                 NaN       45.0
997                  94     5.5  73152               17.54       46.0
998                  98     6.2  70699               58.01       50.0
999                  93     5.6   4881                 NaN       22.0
1000                 87     5.3  12435               19.64       11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [31]:
# The info() function: 
print(data_indexed.info())
# prints a summary of the DataFrame using the variable I created. Its shown data types and non null values.

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               1000 non-null   object
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 93.8+ KB
None

In [32]:
# shape:
print(data_indexed.shape)


# what information does shape provide?  what is the order?

# Shape show the rows and columns of the DataFrame. First the rows, then the columns.

(1000, 11)

In [33]:
# columns:
print(data_indexed.columns)

# what information does columns provide?

#This provides a list of all the column names of the DataFrame.

Index(['Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [34]:
# The describe() function: 

print(data_indexed.describe())

              Year  Runtime (Minutes)       Rating         Votes  \
count  1000.000000        1000.000000  1000.000000  1.000000e+03
mean   2012.783000         113.172000     6.723200  1.698083e+05
std       3.205962          18.810908     0.945429  1.887626e+05
min    2006.000000          66.000000     1.900000  6.100000e+01
25%    2010.000000         100.000000     6.200000  3.630900e+04
50%    2014.000000         111.000000     6.800000  1.107990e+05
75%    2016.000000         123.000000     7.400000  2.399098e+05
max    2016.000000         191.000000     9.000000  1.791916e+06

       Revenue (Millions)   Metascore
count          872.000000  936.000000
mean            82.956376   58.985043
std            103.253540   17.194757
min              0.000000   11.000000
25%             13.270000   47.000000
50%             47.985000   59.500000
75%            113.715000   72.000000
max            936.630000  100.000000

### 4. Data Selection -- Indexing and Slicing

In [35]:
#  Extract data as series
# define and print the variable 'genre'

movie_genre = data_file['Genre']
movie_genre_series = pd.Series(movie_genre)
print(movie_genre_series)

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [42]:
# Extract the data as a dataframe and print it

data_file_dataframe = pd.DataFrame(data_file)
print(data_file_dataframe)

     Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]

In [37]:
# Extract data using rows

# loc function

print(data_file.loc[::])

     Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]

In [38]:
# iloc function
print(data_file.iloc[::])

     Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]

### 5. Data Selection - Based on Conditional Filtering

In [39]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.

data_file[((data_file['Year'] >= 2010) & (data_file['Year'] <= 2016))
      & (data_file['Rating'] < 6.0)
      & (data_file['Revenue (Millions)'] > data_file['Revenue (Millions)'].quantile(0.95))]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
941,942,The Twilight Saga: Eclipse,"Adventure,Drama,Fantasy",As a string of mysterious killings grips Seatt...,David Slade,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2010,124,4.9,192740,300.52,58.0

In [40]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?

In [45]:
data_file[((data_file['Year'] >= 2007) & (data_file['Year'] <= 2016))
      & (data_file['Rating'] < 6.0)
	& (data_file['Title'].str.contains('Twilight'))
      & (data_file['Revenue (Millions)'] > data_file['Revenue (Millions)'].quantile(0.5))]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
165,166,Twilight,"Drama,Fantasy,Romance",A teenage girl risks everything when she falls...,Catherine Hardwicke,"Kristen Stewart, Robert Pattinson, Billy Burke...",2008,122,5.2,361449,191.45,56.0
366,367,The Twilight Saga: Breaking Dawn - Part 2,"Adventure,Drama,Fantasy","After the birth of Renesmee, the Cullens gathe...",Bill Condon,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2012,115,5.5,194329,292.30,52.0
925,926,The Twilight Saga: Breaking Dawn - Part 1,"Adventure,Drama,Fantasy",The Quileutes close in on expecting parents Ed...,Bill Condon,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2011,117,4.9,190244,281.28,45.0
941,942,The Twilight Saga: Eclipse,"Adventure,Drama,Fantasy",As a string of mysterious killings grips Seatt...,David Slade,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2010,124,4.9,192740,300.52,58.0